.container{
    position: fixed;
    right: 252px;
    z-index: 100;
    display:flex;
    width:53vw;
    align-items: center;
    justify-content: center;
}
#burger, [for=burger]{
    display: none;
}
header {
    height: 5vi;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 252px;
    box-sizing: border-box;
    max-width: 1920px;
    margin: 0 auto;
}
nav{
    display:flex;
    width:40vw;
    justify-content: space-between;
}
.header{
    background-color: #262D4F;
    width: 100%;
    position: fixed;
    z-index: 50;
}
.logo{
    height:4dvi;
    padding-top: 10px;
}
.logos img, .logos svg{
    height:10dvi;
    min-height: 100px;
}
button {
    border: 1px solid #ffffff;
    background-color: #262D4F;
    color: white;
    font-size: 24px;
    width: 10vw;
    height: 2.5vw;
    border-radius: 30px;
    font-family: 'Arial AMU';
    box-sizing: content-box;
}
button:hover{
    background-color: #bc3333;
}
.menu{
    display: flex;
    list-style: none;
    align-items: center;
}
.menu li:not(.fir){
    margin-left: 45px;
}

button a{
    text-decoration: none;
    color: #fff;
    font-size: 1.3vw;
}
.photoonmain{
    background: url("../images/главная.png") no-repeat;
    width: 100%;
    height: 40vi;
    min-height: 400px;
    background-size: cover;
    background-position: center;
}
.delivery{
    width: 100%;
    padding: 30px 0;
    margin-bottom: 180px;
    font-size: 5vw;
}
.logos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    max-width: 2000px;
    margin: 30px auto;
}
.delivery_title{
    margin-top:-120px;
    padding-top:120px;
    text-align: center;
    font-size: 4vi;
    margin: 6vi 0px 100px 0;
}
.information{
    background-color: #E9EBF1;
}
.forinfo{
    width: 60vw;
    max-height: min-content;
}
.text{
    background-color: #000;
    width: max-content;
    color: #fff;
    padding:50px;
    font-size: 1.5vw;
    text-align: justify;
}
.text h1{
    font-size: 2vw;
}
.first, .second{
    display: flex;
}
.first{
    padding-top: 150px;
}
.second{
    padding-bottom: 150px;
}
.textinblock{
    padding: 20px 0;
}
.parallax{
    background: url("../images/фон.jpg") no-repeat;
    background-attachment: fixed;
    height: 50dvi;
    max-height: 1000px;
    background-size: cover;
    background-position: center;
}
.where_title{
    font-size: 3vw;
    padding-top: 3vw;
}
.where{
    background-color: #E9EBF1;
    font-size:30px;
    padding-left: 100px;
}
.map{
    margin: 0 30px 30px 0px;
    min-width: 300px;
}
iframe{
    width:55vw;
    height: 30vw;
}
.adress{
    margin: 20px 0;
    font-size: 1.5vw;
}
.impot{
    display: flex;
    flex-wrap: wrap;
    margin-bottom:10px;
}
.title_info{
    margin-top:1vw;
    min-width: 280px;
}
.text_info p{
    margin-bottom:20px;
    font-size: 1.5vw;
}
a:link{
    text-decoration: none;
}
footer a{
    text-decoration: none;
}
.title_contacts{
    margin:20px 0;
    font-size: 3vw;
}
.icons svg{
    width: 10vw;
    max-width: 55px;
}
.footer{
    margin-left:30px;
}
@media (max-width:1920px){
    nav{
        width:43vw;
    }
}
@media (max-width:1500px){
    button {
        border: 1px solid #ffffff;
        background-color: #262D4F;
        color: white;
        font-size: 24px;
        width: 110px;
        height: 30px;
        border-radius: 30px;
        font-family: 'Arial AMU';
        box-sizing: content-box;
    }
    .logo{
        height: 40px;
    }
    .menu li{ 
        font-size: 20px; 
    }
    .delivery_title{
        margin: 0 5vi 116px 50px;
    }
    header{
        padding: 20px 100px;
    }
    .logos{
        max-height: 100px;
    }
    .container{
        right: 100px;
        width:58vw;
    }
    .icons svg{
        max-width: 45px;
    }
}
@media (max-width:1000px){
    .first, .second{
        flex-wrap: wrap;
    }
    .forinfo{
        display: none;
    }
    .text{
        padding: 20px;
        font-size:10px;
    }
    .delivery{
        padding:0 0 10px 0;
    }
    .delivery_title{
        padding-top: 10vw;
        margin-bottom: 10vw;
    }
    .where{
        padding-left:20px
    }
    .icons svg{
        max-width: 35px;
    }
    [for=burger]{
        display:block;
        position:fixed;
        right: 20px;
    }
    [for=burger]::before{
        content:'\2261';
        color: #fff;
        font-size: 30px;
    }
    .fir{
        margin-left:45px;
    }
    .container{
        width:78%;
    }
    .container nav{
        flex-direction: column;
        position: absolute;
        top: 20px;
        right: -100px;
        background-color: #262D4F;
        display:none;
        width: 100%;
        justify-content: center;
        text-align: center;
    }
    .menu li a{
        font-size: 18px;
    }
    button a{
        font-size: 20px;
    }
    button{
        border: none;
        margin: 10px 0;
        margin-left: 5px;
    }
    nav ul{
        margin: 20px 40px 0 0;
        flex-direction: column;
        width:0 auto;
    } 
    #burger:checked ~ nav{
        display:block;
    }
    #burger:checked ~ [for=burger]::before{
        content:'x';
        color:#fff;
    }
    .logo{
        height: 35px;
    }
}
@media (max-width:500px){
    .delivery_title{
        font-size:20px;
    }
    .text h1{
        font-size: 15px;
    }
    .text p, .adress, .text_info p{
        font-size: 10px;
    }
    .where_title, .title_contacts{
        font-size: 15px;
    }
    .adress{
        margin:0 0 10px 0;
    }
    .map{
        margin-bottom: 10px;
    }
    nav ul li{
        font-size: 30px;
    }
}