header {
    height: 5vi;
    min-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10vw;
    max-width: 2000px;
    box-sizing: border-box;
    margin: 0 auto;
}
.burger{
    padding:0;
    z-index: 100;
    display:flex;
    align-items: center;
    justify-content: center;
}
#burger, [for=burger]{
    display: none;
}
.header{
    background-color: #262D4F;
    width: 100%;
    position: fixed;
    z-index: 50;
    align-items: center;
}
.menu{
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
}
.menu li{
    align-items: center;
}
nav{
    align-items: center;
    width:35vw;
}
.logoimg{
    padding-top:10px;
    width: 9vw;
}
.search form {
  width: auto;
  float: right;
  margin-right: 30px;
}
.search input {
  width: 15vw;
  height: 2.5vw;
  padding-left: 15px;
  border-radius: 42px;
  border: 2px solid #fff;
  background: #262D4F;
  outline: none;
  position: relative;
  transition: .3s linear;
  color:#fff;
  font-size: 1.2vw;
}
.search input:focus {
  width: 17vw;
  background-color: #515778;
}
.search a {
  width: 2vw;
  background: none;
  border: none;
  position: absolute;
  margin-left:7px;
  padding-top:0.5vw;
}
.slider__container {
    width: 100vw;
    max-width: 100vw;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    height:30vw;
    min-height: 150px;
}
.slider__container .slider-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    display: block;
    height: 100%;
    opacity: 1;
    transition: all ease 2s;
  }
  
.slider__control {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.slider__control-item {
    border: solid #fff;
    border-width: 0 5px 5px 0;
    padding: 15px;
}
  
.slider__control-item:hover {
    opacity: .7;
    cursor: pointer;
}
  
.next {
    margin-right: 25px;
    transform: rotate(-45deg);
    z-index: 10;
}
  
.prev {
    margin-left: 25px;
    transform: rotate(135deg);
    z-index: 10;
  }
  
.slider__dots {
    width: 100%;
    position: absolute;
    align-self: flex-end;
    display: inline-flex;
    justify-content: center;
    bottom: 0;
  }
  
.slider__dots-item {
    width: 2vw;
    height: 2vw;
    border-radius: 100%;
    background-color: #fff;
    margin: 2vw 1vw;
  }
  
.slider__dots-item:hover {
    opacity: .7;
    cursor: pointer;
  }
  
.slider__dots-item.active {
    background-color: gray;
  }
  
.slider__container .content.fade-off {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    height: 100%;
    transition: all 1s ease;
}
  
.slider__container .slider-item.fade-off {
    position: static;
}
.textonimg{
    margin: 3vw auto;
    width: 55vw;
    position: relative;
    text-align: center;
    color: #fff;
}
.textonimg img{
    width: 100%;
    height: 100%;
    filter: brightness(45%);
    outline: 5px solid #fff;
    outline-offset: -3vw;
}
.onimg{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2.5vw;
}
.text, .price{
    display: flex;
    font-size: 2vw;
    margin: 2vw 0;
    justify-content: center;
}
.txt1, .txt2, .txt3{
    width: 40vw;
    text-align: center;
}
.price{
    font-size: 3vw;
}

@media (max-width:1500px){
    header{
        padding:20px 10vw;
    }
    ul{
        width: 30vw;
    }
}
@media (max-width:500px){
    .slider__container .slider-item {
        width: auto;
    }
    [for=burger]{
        display:block;
        position:fixed;
        right: 20px;
    }
    [for=burger]::before{
        content:'\2261';
        color: #fff;
        font-size: 6vw;
    }
    .burger nav{
        flex-direction: column;
        position: absolute;
        right: 0;
        top: 40px;
        background-color: #262D4F;
        display:none;
        width: 200px;
    }
    ul{
        align-items: center;
    }
    nav ul{
        margin: 20px 40px;
        flex-direction: column;
    } 
    #burger:checked ~ nav{
        display:block;
    }
    #burger:checked ~ [for=burger]::before{
        content:'x';
        color:#fff;
    }
    .logoimg{
        width: 75px; 
    }
    .search input {
        height: 17px;
        font-size: 8px;
    }
    .textonimg{
        width: 280px;
    }
    .onimg{
        font-size: 12px;
    }
    .text, .price{
        font-size: 10px;
    }
    .price{
        font-size: 14px;
    }
    .menu li a{
        font-size: 10px;
    }
}